# Path: console-online-store/console-online-store/.editorconfig
root = true

[*.cs]
# базове форматування
csharp_new_line_before_open_brace = all
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf

# Analyzer severities
dotnet_diagnostic.SA1000.severity = error       # пробіли біля ключових слів (new)
dotnet_diagnostic.SA1600.severity = warning     # відсутня дока (загальна)
dotnet_diagnostic.SA1611.severity = warning     # дока параметрів
dotnet_diagnostic.SA1615.severity = warning     # дока return
dotnet_diagnostic.SA1402.severity = warning     # один клас на файл
dotnet_diagnostic.CA1510.severity = warning     # ThrowIfNull
