@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Home Page!</h1>
    <p>Click the link below to go to the Cache Page:</p>
    <a href="@Url.Action("Index", "Cache")">Go to Cache Page</a>
</div>
