@model BookStore.Models.Book

@{
    ViewData["Title"] = "Додати книгу";
}

<h2>Додати книгу</h2>

<form asp-action="AddBook" method="post">
    <input type="hidden" asp-for="AuthorId" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre"></label>
        <select asp-for="Genre" class="form-control" asp-items="Html.GetEnumSelectList<GenreEnum>()"></select>
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PageCount"></label>
        <input asp-for="PageCount" class="form-control" />
        <span asp-validation-for="PageCount" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Додати</button>
    <a asp-action="Details" asp-route-id="@Model.AuthorId" class="btn btn-secondary">Скасувати</a>
</form>