@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <h4>Ліве меню</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/Page2/Menu1">Меню 1</a>
            </li>
            <li class="list-group-item">
                <a href="/Page2/Menu2">Меню 2</a>
            </li>
            <li class="list-group-item">
                <a href="/Page2/Menu3">Меню 3</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>
